<p id="notice"><%= notice %></p>

<h1>Listing Anthonies</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @anthonies.each do |anthony| %>
      <tr>
        <td><%= anthony.title %></td>
        <td><%= anthony.description %></td>
        <td><%= link_to 'Show', anthony %></td>
        <td><%= link_to 'Edit', edit_anthony_path(anthony) %></td>
        <td><%= link_to 'Destroy', anthony, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Anthony', new_anthony_path %>
