<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @anthony.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @anthony.description %>
</p>

<%= link_to 'Edit', edit_anthony_path(@anthony) %> |
<%= link_to 'Back', anthonies_path %>
